.route-container {
  border-right: 1px solid #ccc;
}

.route {
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
  line-height: 1;
  cursor: pointer;
}

.route:hover {
  background-color: #ddd;
}

.route__method {
  font-weight: 600;
}

.route__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route__url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  font-size: 14px;
  margin-top: 5px;
}
