{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic" // defaults to classic
        // "importSource": "custom-jsx-library" // defaults to react (only in automatic runtime)
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    [
      "transform-imports",
      {
        "react-bootstrap": {
          "transform": "react-bootstrap/${member}",
          "preventFullImport": true
        },
        "@fortawesome/pro-solid-svg-icons": {
          "transform": "@fortawesome/pro-solid-svg-icons/${member}",
          "preventFullImport": true,
          "skipDefaultConversion": true
        },
        "@fortawesome/pro-duotone-svg-icons": {
          "transform": "@fortawesome/pro-duotone-svg-icons/${member}",
          "preventFullImport": true,
          "skipDefaultConversion": true
        },
        "@fortawesome/pro-light-svg-icons": {
          "transform": "@fortawesome/pro-light-svg-icons/${member}",
          "preventFullImport": true,
          "skipDefaultConversion": true
        },
        "@fortawesome/pro-regular-svg-icons": {
          "transform": "@fortawesome/pro-regular-svg-icons/${member}",
          "preventFullImport": true,
          "skipDefaultConversion": true
        },
        "@fortawesome/pro-thin-svg-icons": {
          "transform": "@fortawesome/pro-thin-svg-icons/${member}",
          "preventFullImport": true,
          "skipDefaultConversion": true
        }
      }
    ]
  ]
}
